---
import { Image } from "astro:assets";
import Tilbudsskilt from "./Tilbudsskilt.astro";
import Button from "./Button.astro";

const {
  cardimage = "",
  cardimagealt = "",

  titel = "",
  pris = "",
  tilbud = "",
  variant = "",
  gammelpris = "",
} = Astro.props;
---

<article
  class="grid grid-rows-5 grid-cols-2 rounded-rounded w-64 h-fit shadow-drop25 container"
>
  <img
    src={cardimage}
    alt={cardimagealt}
    class="row-start-1 col-start-1 row-span-3 col-span-2 object-cover w-full h-full rounded-t-rounded"
  />
  <div
    class="row-start-3 col-start-1 row-span-1 col-span-2 self-end justify-self-end m-2"
  >
    <Tilbudsskilt variant={variant}>{tilbud}</Tilbudsskilt>
  </div>

  <div
    class="flex flex-col justify-between bg-brown-50 row-start-4 row-span-2 col-start-1 col-span-2 p-3 rounded-b-rounded"
  >
    <div class="flex flex-col gap-small">
      <h3 class="text-medium">
        {titel}
      </h3>
      <div class="flex">
        <h4 class="text-small line-through text-green-800 mr-1">
          {gammelpris}
        </h4>
        <h4 class="text-small">{pris}</h4>
      </div>
    </div><div class="self-end">
      <Button variant="primary">SE VARE</Button>
    </div>
  </div>
</article>
