---
import { Image } from "astro:assets";
import Temakort from "./Temakort.astro";
import Button from "./Button.astro";

const {
  cardimage = "",
  cardimagealt = "",

  temakortvariant = "",
  tema = "",
  titel = "",
  underrubrik = "",
} = Astro.props;
---

<article
  class="grid grid-rows-5 grid-cols-2 rounded-rounded w-80 h-[33rem] shadow-drop25"
>
  <img
    src={cardimage}
    alt={cardimagealt}
    class="row-start-1 col-start-1 row-span-3 col-span-2 object-cover w-full h-full rounded-t-rounded"
  />
  <div class="col-start-1 col-span-1 row-start-1 row-span-1 p-2 gap-2">
    <Temakort variant={temakortvariant}>{tema}</Temakort>
  </div>
  <div
    class="flex flex-col bg-brown-100 row-start-4 row-span-2 con-start-1 col col-span-2 p-3 gap-3 rounded-b-rounded"
  >
    <div class="flex flex-col gap-2">
      <h3 class="self-center text-medium">
        {titel}
      </h3>
      <h4 class="text-small">{underrubrik}</h4>
    </div><div class="self-end">
      <Button variant="primary" class="">LÆS MERE</Button>
    </div>
  </div>
</article>
